mixin ul(link)
    li.header__nav__link
        a.link(href=link+".html")=link

mixin hiddenUl(link)
    li.header__nav__link-mobile
        a.link(href=link+".html")=link

mixin button(btnTitle, btnClass='')
    button(class="button " + "button-"+btnClass)=btnTitle


mixin accordItems(title, descr)
    h5.accord__title=title
    p.accord__text=descr