mixin ul(link)
    li.nav__item
        a.nav__link(href=link+".html")=link


mixin button(btnTitle, btnClass='')
    button(class="button " + "button-"+btnClass)=btnTitle


mixin accordItems(title, descr)
    h5.uptitle(class="uptitle-accord")=title
    p.description(class="description-accord")=descr


mixin oval(ovalClass)
    div.oval(class="oval-"+ovalClass)
    

mixin galleryTitles(item)
    h5.uptitle(class="uptitle-gallery")=item

mixin galleryCard(src, title, desc)
    .gallery-card
        img.gallery-card__img(src=src, alt="abstract image")
        .gallery-card__info
            .h4(class="h4-gallery-card")=title
            .description=desc
